SIGBASH_MODE=local
SIGBASH_SERVER_URL=https://www.sigbash.com
SIGBASH_API_KEY=
SIGBASH_USER_KEY=
SIGBASH_SECRET_KEY=
SIGBASH_WASM_URL=https://www.sigbash.com/sigbash.wasm
SIGBASH_KEY_ID_ALICE=
SIGBASH_KEY_ID_BOB=
SIGBASH_KEY_ID_CAROL=
SIGBASH_LEAF_ALICE=
SIGBASH_LEAF_BOB=
SIGBASH_LEAF_CAROL=
BITCOIN_RPC_URL=http://127.0.0.1:38332
BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWORD=
